.shipping-title {
    color: white;
    font-size: 2em;
    margin-bottom: 1em;
}

.main-shipping-info {
    background-color: #067f7b;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
}

.shipping-input {
    border-bottom: 2px solid black;
    border-radius: 1px;
    padding: 10px 20px;
}

.shipping-input::placeholder {
    color: rgb(126, 126, 126);
}

.shipping-submit {
    padding: 30px;
    background-color: #067f7b;
    color: rgb(255, 255, 255);
}

.shipping-submit {
    background-color: #056966;
}