.shipping-title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.main-shipping-info {
    background-color: #4b4b4b;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
}

.shipping-form {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    padding: 20px;
}

.shipping-input {
    border: 1px solid rgb(126, 126, 126);
    border-radius: 1px;
    padding: 10px 20px;
    min-width: 0;
}

.shipping-input::placeholder {
    color: rgb(126, 126, 126);
}

.shipping-submit {
    padding: 15px;
    background-color: #0074d4;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
}

.shipping-submit:hover {
    background-color: #056966;
}

.shipping-submit:active {
    background-color: #08b3ad;
}
.city-zip-container {
    display: flex;
}