@use "sass:math";

@import "variables";

@import "./pages/shipping_form/shipping_form.scss";
@import "./pages/reviews/reviews.scss";
@import "./pages/home/home.scss";
@import "./pages/personalized_build/personalized_build.scss";
@import "./pages/about/about.scss";
@import "./pages/support/support.scss";
@import "./pages/why_bldg/why_bldg.scss";



/*General*/
@keyframes rotation { 
    0% { --gradient-angle: 0deg;} 
    100% { --gradient-angle: 360deg;}
    }
    

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
    font-size: $size-4;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
html, body {
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    font-style:italic;
    --sb-track-color: #232E33;
    --sb-thumb-color: #6b9caf;
    --sb-size: $size-4;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}
  
body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}
  
body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: $size-1;
}
  
@supports not selector(::-webkit-scrollbar) {
body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: $size-full;
    border: none;
}

#root {
    min-height: 100vh; /*height off to work on mobile*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main {
    margin: 0;
}

/*NavBar*/
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    min-height: $size-24;
}

.nav-left, .nav-right {
    width: $size-12; /* Adjust as needed */
    display: flex;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navBtn {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 $size-5;
    height: $size-8;
    width: $size-28;
    text-align: center;  
    line-height: $size-8;
}

.border-nav-btn:after { content: ''; display: block; margin: auto; height: 3px; margin-top: $size-05; width: 0; border-radius: $size-05; background: transparent; transition: width .5s ease, background-color .5s ease; }
.border-nav-btn:hover:after { width: 100%; background: $gamerPurple; }


.dream-pc {
    font-style: normal;
    position: relative;
    border-radius: $size-1;
    border: none;
    padding: $size-2;
    color: #000000;
}

.dream-pc::before,
.dream-pc::after {
    display: flex;
    content: "Home";
    position: absolute;
    inset: 0;
    background: conic-gradient(from var(--gradient-angle), $gamerRed, $gamerPurple, $gamerRed);
    border-radius: inherit;
    animation: rotation 10s linear infinite;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.dream-pc::before{
    filter: blur(10px);
    width: auto;
    height: auto;
}

.dream-pc:hover::before{
    filter: blur($size-05);
}


.logo-container {
    display: flex;
}

.logo {
    content: resolve("./assets//Logo.png");
    width: calc(width("./assets/Logo.png") / 6);
    height: calc(height("./assets/Logo.png") / 6);
}

.bars {
    display: none;
    color: #ffffff;
    font-size: $size-5;
    transition: all 0.3s ease;
}

.bars:hover {
    color: $gamerRed;
}

.cart-icon {
    color: #fff;
    font-size: $size-5;
    transition: all 0.3s ease;
}

.cart-icon:hover {
    color: $gamerPurple;
}


/*Menu*/
.menu {
    box-sizing: border-box;
    display: none; /* Ensure the menu is a flex container */
    flex-direction: column;
    color: #fff;
    background-color: rgb(20, 20, 20);
    width: $size-full;
    padding: $size-5; 
    position: fixed;
    left: 0;
    top: $size-24;
    bottom: 0;
    z-index: 150;
    transform: translateX(-150%); /* Initially hide the menu */
    transition: transform 0.3s ease; /* Smooth transition for transform */
    
}

.menu-visible {
    transform: translateX(0); /* Show the menu */
}

.menu-hidden {
    transform: translateX(-110%); /* Initially hide the menu */
}

.menu-title-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title {
    width: min-content;
    font-style: normal;
    font-size: $size-12;
    margin-bottom: $size-4;
}

.close-menu-icon {
    color: #fff;
    font-size: $size-6;
    transition: color 0.2s;
}

.close-menu-icon:active {
    color: $gamerPurple;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: $size-3;
    font-style: normal;
}

.menu-nav-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: $size-5;
    margin-left: $size-2;
}

/*Cart*/
.cart {
    display: flex; /* Ensure the cart is a flex container */
    flex-direction: column;
    color: #fff;
    background-color: rgb(0, 0, 0);
    width: $size-96;
    padding: $size-5; 
    position: fixed;
    right: 0;
    top: $size-24;
    bottom: 0;
    z-index: 150;
    transform: translateX(110%); /* Initially hide the cart */
    transition: transform 0.3s ease; /* Smooth transition for transform */
    
}

.cart-visible {
    transform: translateX(0); /* Show the cart */
}

.cart-hidden {
    transform: translateX(110%); /* Initially hide the cart */
}

.cart-title {
    font-style: normal;
}

.cart-item-image {
    box-sizing: border-box;
    width: 15%;
    height: $size-14;
    object-fit: cover;
    border-radius: $size-1;
}



.products {
    margin-bottom: $size-5;
    height: 70%;
    overflow-x: hidden;
}

.product-on-cart {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: arial;
    font-weight: 600;
    font-style: normal;
    font-size: $size-3;
    flex-direction: row;
    border-radius: $size-3;
    padding: $size-3;
    width: $size-full;
    height: fit-content;
    margin-top: $size-5;
    background-color: #2f2f31;
}

.subtract-from-cart {
    box-sizing: border-box;
    width: 15%;
    background-color: $darkGamerRed;
    border: none;
    color: white;
    padding: $size-2 $size-4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $size-4;
    margin: $size-1 $size-05;
    cursor: pointer;
    transition: background-color ease 0.3s;
    border-radius: $size-1;
}

.subtract-from-cart:hover {
    background-color: $gamerRed;
}


#quantity {
    box-sizing: border-box;
    width: 15%;
    padding: $size-5;
    border-radius: 3px;
    text-align: center;
}

.add-to-cart {
    background-color: #57c95b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color ease 0.3s;
    border-radius: 5px;
    width: 15%;
}


.add-to-cart:hover {
    background-color: #3c8b3f;
}

.buying-info {
    border-top: 2px solid #b6b6b6;
}

.info {
    margin-top: 10px;
}

.checkout-button {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border: none;
    padding: 20px;
    width: 100%;
    background-color: $gamerPurple;
    margin-top: 10px;
    border-radius: 2px;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #79c4b7;
}

.remove-button {
    background-color: transparent;
    color: #8a8a8a;
    margin-top: 2px;
}

.remove-button:after { content: ''; display: block; margin: auto; height: 1px; margin-top: 2px; width: 0px; border-radius: 2px; background: transparent; transition: width .5s ease, background-color .5s ease; }
.remove-button:hover:after { width: 100%; background: rgb(87, 77, 90); }


/*Footer*/
.footer {
    background: url("./assets/footer-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    max-width: 100%;
    padding: 30px 50px;
    margin-top: auto;
}

.flex-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    min-width: 250px;
    margin-bottom: 20px;
    
}

.advice-form {
    display: inline-block;
    width: 100%;
    flex: 2;
}

.advice-title {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 30px;
}

.submission-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.input-advice {
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    background: transparent;
    height: 55px;
    padding: 10px 20px;
    width: 383px;
    outline: none;
}

.submit-advice {
    background-color: $gamerPurple;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 75px;
    padding: 15px;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.submit-advice:hover {
    background-color: rgb(70, 119, 116);
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
    border-radius: 6px;
}

#icon-footer-container {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
}

.account-link {
    font-size: 28px;
    width: 25px;
    transition: all 0.5s ease;
    text-align: center;
    display:inline-block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.account-link:hover {
    color: #d138ff;
}

#icon-footer-container a {
    color: #fff;
    font-size: 24px;
}

#icon-footer-container a:hover {
    color: #d138ff;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 100px;
    justify-content: center;
    flex: 2;
    min-width: max-content;
}

.expandable-section {
    margin-bottom: 10px;
}

.expandable-title {
    display: none;
}

.expand-icon {
    display: none;
    float: right;
    transition: transform 0.3s ease;
}

.link-column {
    display: block;
    list-style: none;
}

.footer-link {
    display: block;
    margin-bottom: 25px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-link:hover {
    color: rgb(243, 113, 255);
}

.footer-column-logo {
    display: flex;
    justify-content: center;
}

.footer-logo {
    height: 99px;
    width: 78px;
    margin-top: 20px;
}

.copyright-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0 20px 0;
}

.copyright {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/*Policies*/
.flex-policy-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    width: 100%;
    align-items: center; 
    flex-direction: column; 
    margin-top: 120px;

}

.policy {
    padding: 30px;
    display: block;
    width:auto; 
    max-width: 800px; 
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.7; 
    margin: 20px;
    text-align: justify;
}

.policy strong {
    font-weight: 800;
}

 
/*Smaller size adaptation*/
@media (--medium-viewport) {
    /*Footer*/
    .flex-footer-container {
        justify-content: center;
    }
}

/* Even smaller size adaptation*/
@media (--small-viewport) {
    /*General*/
    #root {
        min-height: auto;
    }

    ::-webkit-scrollbar { display: none; }

    /*Navbar*/
    .navigation {
        justify-content: space-between;
    }

    .navBtn {
        display: none;
    }

    .logo {
        height: 65px;
        width: 51px;
    }
    

    .bars, .cart-icon {
        font-size: 20px;
        display: block;
    }

    .bars {
        margin-left: 20px;
    }

    .cart-icon {
        margin-right: 20px;
    }


    /*Cart*/
    .cart {
        box-sizing: border-box;
        width: 100%;
        position: 0;
    }

    .menu {
        display: flex;
    }

    /*Footer*/
    .footer {
        padding: 30px;
    }

    .flex-footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        text-align: center;
    }

    .submission-elements {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .input-advice {
        width: 100%;
        margin-bottom: 10px;
        max-width: 90%;
    }

    .submit-advice {
        width: 100%;
        margin-left: 0;
    }

    #icon-footer-container {
        justify-content: center;
        margin-left: 0;
    }

    .footer-link-container {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    
    .expandable-title {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 5px;
        border-radius:  5px 5px 0 0;
        display: block;
        font-family: 'Arial Black', sans-serif;
        font-style: normal;
        font-weight: 600;
    }

    .expand-icon {
        display: inline;
        padding: 0;
        height: 30px;
        width: 15px;
        font-size: 18px;
    }

    .link-column {
        background-color: rgba(255, 255, 255, 0.05);
        border-radius: 0 0 5px 5px;
        margin-top: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s;
    }
    
    .link-column.expanded {
        max-height: 150px; 
    }

    .footer-link {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-logo {
        margin: 0px auto;
        display: block;
    }
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.cart-badge.hidden {
    display: none;
}