/* Placeholder styles */
#text-search-support::placeholder {
    color: rgb(126, 126, 126);
    opacity: 1; /* Firefox */
}

#text-search-support::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(126, 126, 126);
}


#orderNumber::placeholder {
    color: rgb(126, 126, 126);
    opacity: 1; /* Firefox */
}

#orderNumber::-ms-input-placeholder { /* Edge 12 -18 */
    color: rgb(126, 126, 126);
}

/* Main container styles */
.support-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    min-height: 60vh;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: rgb(50, 50, 50) 0 0 1px;
    padding: 20px;
}

.product-search-section {
    width: 100%;
    margin-bottom: 128px;
}

/* Header styles */
.support-image-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-image: url("../../assets/support/support-header-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    border-radius: 0 0 10% 10%;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
}

/* Search support form styles */
#search-support {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
    max-width: 600px;
    height: 50px;
    margin: 0 auto;
}

#text-search-support {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 60px;
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    color: black;
}

#enter-search-support {
    box-sizing: border-box;
    position: absolute;
    right: 1%;
    border-radius: 50%;
    height: 80%;
    top: 10%;
    aspect-ratio: 1;
    background-color: #ffffff;
    color: rgb(156, 156, 156);
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

#enter-search-support:hover {
    background-color: #e2e2e2;
}

#enter-search-support:active {
    background-color: #7e7e7e;
    color: white;
}

/* Tracking section styles */
.tracking-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.tracking-title {
    margin-top: 144px;
    margin-bottom: 32px;
    font-size: 64px;
}

#orderForm {
    display: flex;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#orderNumber {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#orderForm button {
    width: 10%;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
}

#orderForm button:hover {
    background-color: #4cae4c;
}

/* Result styles */
#result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.support-text {
    margin-bottom: 30px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    #search-support {
        width: 100%;
    }

    .support-image-header {
        height: auto;
        min-height: 50vh;
    }

    dotlottie-player {
        width: 100% !important;
        height: auto !important;
    }
}

.products-to-search {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

.product-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-card a {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
}

.product-card a:first-of-type {
    background-color: #28a745; /* Green for the "Contact Us" button */
    color: white;
}

.product-card a:first-of-type:hover {
    background-color: #218838; /* Darker green on hover */
}

.product-card a:last-of-type {
    background-color: #17a2b8; /* Blue for the "Common Solutions" button */
    color: white;
}

.product-card a:last-of-type:hover {
    background-color: #138496; /* Darker blue on hover */
}

.contact-section {
    margin-top: 128px;
}

.contact-section-title {
    font-size: 54px;
    text-align: center;
}

#icon-support-container a {
    color: rgb(255, 255, 255);
}

.contact-section {
    padding: 20px;
    text-align: center;
}

.info-cards-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.info-card {
    background-color: rgb(88, 88, 88);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    height: 400px;
}

.info-card-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.info-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-card-text {
    font-size: 1rem;
    margin-bottom: 20px;
}

.info-card-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.info-card-button:hover {
    background-color: #0056b3;
}