.main-dream-pc {
    font-family: 'Arial Black', sans-serif;
    display: flex;
    min-width: 100vw;
    flex-direction: row;
    min-height: 105vh;
    background-color: black;
    color: #ffffff;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33%;
}

.product-part {
    display: block;
    min-height: 60px;
}

#product-name {
    font-style: normal;
    max-width: 400px;
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 0.1cap;
    backdrop-filter: blur(10px);
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.features {
    min-width: 300px;
}

.cart-button {
    background-color: #29b96a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
    transition: background-color 0.3s ease;
}

.cart-button:hover {
    background-color: #219957;
}

.slider {
    margin-top: 30px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #555;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #555;
    cursor: pointer;
    border-radius: 50%;
}

.slider::before {
    content: '';
    position: absolute;
    height: 2px;
    background-image: linear-gradient(to right, #555 50%, transparent 50%);
    background-size: 20px 1px;
    background-repeat: repeat-x;
}

#product-description {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    min-height: 180px;
    width: auto;
    max-width: 500px;
    text-align: center;
    margin: 60px 45px 0 45px;
    padding: 30px;
}

#product-price {
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    font-size: 2em;
}

#product-features {
    margin-top: 30px;
}

.item {
    position: relative;
    inset: 0 0 0 0;
}

.carousel {
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 30px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    height: 100%; /* Ensure the height is defined */
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-control {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: none;
    font-size: 24px;
    z-index: 10;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; /* Adjust as needed */
    margin: 0 auto;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #717171;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: #ffffff;
    width: 20px;
}

.carousel-container, .carousel, .carousel-inner, .carousel-item {
    cursor: auto;
}

#product-image {
    cursor: grab;
}

#product-image:active {
    cursor: grabbing;
}

.components-list {
    list-style: none;
    margin-top: 10px;
}

@media (max-width: 1365px) {
    .main-dream-pc {
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    .section {
        width: 100%;
        max-width: 600px;
        min-height: fit-content;
    }

    .features {
        padding-top: 0;
    }

    .carousel-container {
        width: 100%;
        max-width: 600px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .carousel-dots-container {
        width: 100%;
        max-width: 300px;
    }

    .carousel {
        width: 100%;
        max-width: 300px;
    }

    #product-description {
        margin: 60px 0 0 0;
        box-sizing: border-box;
    }

    #product-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
