

.about-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    min-height: 80vh;
    background-color: rgb(32, 32, 32);
    color: #fff;
    text-shadow: rgb(50, 50, 50) 0 0 2px;
    gap: 20px;
}

.about-us-animation {
    height: 10%;
    width: 10%;
}

.mission, .performance, .warranty, .thank-you {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.performance { background-image: url(../../assets/about-us/about-us-background-3.svg); }
.thank-you { background-image: url(../../assets/about-us/about-us-background-4.svg); }

.title-text {
    
    width: auto;
    height: fit-content;
    z-index: 1; /* Ensure text is above the background */
}

.title {
    display: inline;
    display: block;
    height: 58px;
    font-size: 50px;
    width: auto;
    height: fit-content;
}

.about-text {
    font-family: 'Poppins';
    display: block;
    width: auto;
    max-width: 400px;
    line-height: 1.8;
    height: fit-content;
}

.about-img {
    width: 45%;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 10px;
    
}

.about-hero {
    color: #fff;
    background-image: url("../../assets/plans_and_design_to_build_the_perfect_pc_drawn_to_a_piece_of_paper_on_a_single_dark_wood_desk_planning_how_to_make_them_better_in_a_90_degree_angle.jpeg");
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
}

.hero-title {
    font-size: 48px;
}

.hero-message {

}

@media (max-width: 768px) {
    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        box-sizing: border-box;
        
    }

    .title-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title {
        text-align: center;
    }

    .about-text {
        font-family: 'Poppins';
        display: block;
        width: auto;
        max-width: 400px;
        line-height: 1.8;
        height: fit-content;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .about-img {
        width: 100%;
        max-height: 70vh;
        object-fit: cover;
        border-radius: 10px;
        
    }
}